# Entornos virtuales Python
.venv/
venv/
env/

# Node.js
node_modules/

# Variables de entorno
.env
.env/

# Archivos GIS (QGIS / ArcGIS)
*.sr.lock
*.lock
*.sbn
*.sbx

# Builds y compilados
dist/
build/
out/

# Python compilado
__pycache__/
*.pyc

# Archivos del sistema
.DS_Store
Thumbs.db
.vscode/

# Temporales y caché
*.log
*.tmp
*.cache

# Archivos multimedia / comprimidos
*.zip
*.rar
*.7z
*.mp4
*.mov

# Carpetas de output

output/